.dn{
    display: none !important;
  }
  .center {
    text-align: center !important
  }
  .left {
    text-align: left !important
  }
  .right {
    text-align: right !important
  }
  .m {
    vertical-align: middle;
  }
  .v_m {
    display: table-cell;
    vertical-align: middle;
    margin:auto
  }
  .v_c {
    display: flex;
    align-items: center;
  }
  .v_cc{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }
  .t_t_l {
    text-transform: lowercase !important;
  }
  .t_t_u {
    text-transform: uppercase !important;
  }
  .t_t_c {
    text-transform: capitalize !important;
  }
  .t_d_None {
    text-decoration: none !important;
  }
  .p0 {
    padding: 0px;
  }
  .m0 {
    margin: 0px;
  }
  .p_l_0{
    padding-left: 0px !important;
  }
  .p_r_0{
    padding-right: 0px !important;
  }
  .p_t_0{
    padding-top: 0px !important;
  }
  .p_b_0{
    padding-bottom: 0px !important;
  }
  .m_l_0{
    margin-left: 0px !important;
  }
  .m_r_0{
    margin-right: 0px !important;
  }
  .m_t_0{
    margin-top: 0px !important;
  }
  .m_b_0{
    margin-bottom: 0px !important;
  }
  .p_xxs{
    padding: 2.5px !important;
  }
  .p_xs{
    padding: 5px !important;
  }
  .p_sm{
    padding: 10px !important;
  }
  .p_md{
    padding: 20px !important;
  }
  .p_lg{
    padding: 40px !important;
  }
  .p_xl{
    padding: 80px !important;
  }
  .p_l_xs{
    padding-left: 5px !important;
  }
  .p_l_sm{
    padding-left: 10px !important;
  }
  .p_l_md{
    padding-left: 20px !important;
  }
  .p_l_lg{
    padding-left: 40px !important;
  }
  .p_l_xl{
    padding-left: 80px !important;
  }
  .p_r_xs{
    padding-right: 5px !important;
  }
  .p_r_sm{
    padding-right: 10px !important;
  }
  .p_r_md{
    padding-right: 20px !important;
  }
  .p_r_lg{
    padding-right: 40px !important;
  }
  .p_r_xl{
    padding-right: 80px !important;
  }
  .p_t_xxs {
    padding-top: 2px !important;
  }
  .p_t_xs{
    padding-top: 5px !important;
  }
  .p_t_sm{
    padding-top: 10px !important;
  }
  .p_t_md{
    padding-top: 20px !important;
  }
  .p_t_lg{
    padding-top: 40px !important;
  }
  .p_t_xl{
    padding-top: 80px !important;
  }
  .p_b_xs{
    padding-bottom: 5px !important;
  }
  .p_b_sm{
    padding-bottom: 10px !important;
  }
  .p_b_md{
    padding-bottom: 20px !important;
  }
  .p_b_lg{
    padding-bottom: 40px !important;
  }
  .p_b_xl{
    padding-bottom: 80px !important;
  }
  .m_xxs{
    margin: 2.5px !important;
  }
  .m_xs{
    margin: 5px !important;
  }
  .m_sm{
    margin: 10px !important;
  }
  .m_md{
    margin: 20px !important;
  }
  .m_lg{
    margin: 40px !important;
  }
  .m_xl{
    margin: 80px !important;
  }
  .m_l_xs{
    margin-left: 5px !important;
  }
  .m_l_sm{
    margin-left: 10px !important;
  }
  .m_l_md{
    margin-left: 20px !important;
  }
  .m_l_lg{
    margin-left: 40px !important;
  }
  .m_l_xl{
    margin-left: 80px !important;
  }
  .m_r_xs{
    margin-right: 5px !important;
  }
  .m_r_sm{
    margin-right: 10px !important;
  }
  .m_r_md{
    margin-right: 20px !important;
  }
  .m_r_lg{
    margin-right: 40px !important;
  }
  .m_r_xl{
    margin-right: 80px !important;
  }
  .m_t_xs{
    margin-top: 5px !important;
  }
  .m_t_sm{
    margin-top: 10px !important;
  }
  .m_t_md{
    margin-top: 20px !important;
  }
  .m_t_lg{
    margin-top: 40px !important;
  }
  .m_t_xl{
    margin-top: 80px !important;
  }
  .m_b_xs{
    margin-bottom: 5px !important;
  }
  .m_b_sm{
    margin-bottom: 10px !important;
  }
  .m_b_md{
    margin-bottom: 20px !important;
  }
  .m_b_lg{
    margin-bottom: 40px !important;
  }
  .m_b_xl{
    margin-bottom: 80px !important;
  }
  .fl{
    float: left;
  }
  .ft {
    float:right;
  }